<!-- dialog-box.component.html -->
<h1 mat-dialog-title>
  <strong>{{ action }}</strong>
</h1>
<div mat-dialog-content>
  <ng-container *ngIf="action != 'Delete'; else elseTemplate">
    <mat-form-field>
      <input
        placeholder="{{ action }} Title"
        matInput
        [(ngModel)]="local_data.title"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        placeholder="{{ action }} Description"
        matInput
        [(ngModel)]="local_data.text"
      />
    </mat-form-field>
  </ng-container>
  <ng-template #elseTemplate>
    completed <b>{{ local_data.title }}</b
    >?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{ action }}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
    Cancel
  </button>
</div>
